#titulo {
    background-color: rgb(238, 201, 156);
    color: rgb(176, 107, 22);
    text-align: center;
    padding: 10px;
}

#menu {
    background-color: rgb(224, 219, 219);
    text-align: center;
    padding: 4px;
}

#menu a {
    text-decoration: none;
    margin: 0 10px;
}

#card {
    width: 70%;
    background-color: burlywood;
    margin-left: 250px;
    padding: 20px;
}

#imagem {
    width: 250px;
    float: right;
    margin-left: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border-bottom: 1px solid #000;
    padding: 8px;
    text-align: left;
}

.item {
    overflow: auto;
    margin-bottom: 20px;
}